prune **
include src/ncvue/*.py
include src/ncvue/images/*.png
graft src/ncvue/themes/azure-2.0
graft src/ncvue/themes/customtkinter
graft tests

include AUTHORS.rst CHANGELOG.rst CONTRIBUTING.rst README.rst LICENSE pyproject.toml setup.cfg
global-exclude __pycache__ *.py[cod] .* *~
