include AUTHORS.rst CHANGELOG.rst CONTRIBUTING.rst
include LICENSE MANIFEST.in README.rst
include setup.py setup.cfg
recursive-include ncvue *.py
recursive-include ncvue/images *.png
recursive-include bin *
include docs/Makefile docs/make.bat docs/requirements.txt
recursive-include docs/src *
recursive-include docs/images *.png
include tests/requirements_test.txt
recursive-include tests *.py
