include AUTHORS.md
include CHANGELOG.md
include CONTRIBUTING.md
include LICENSE
include MANIFEST.in
include README.md
include setup.py setup.cfg
recursive-include ncvue *.py
recursive-include ncvue/images *.png
recursive-include bin *
recursive-include docs/src *
recursive-include docs/images *.png *.key
include docs/Makefile docs/requirements.txt
recursive-include docs/html *
recursive-include tests *.py
include tests/requirements_test.txt
